@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
}

:root {
  --clr-neutral-800: hsl(234, 29%, 20%);
  --clr-neutral-700: hsl(235, 18%, 26%);
  --clr-neutral-200: hsl(231, 7%, 60%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-accent-400: hsl(4, 100%, 67%);
  --clr-accent-500: hsl(347, 100%, 66%);

  --ff-base: Roboto, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-base: 1rem;
  --fs-300: 0.8125;
  --fs-400: 1rem;
  --fs-900: 3.5rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-800);
  line-height: 1.5;

  min-height: 100vh;
  display: grid;
  background-color: var(--clr-neutral-800);
  place-content: center;
}
